@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<eLibrary.Models.Book>


<div class="card">
    <div class="card-body">
        <h5 class="card-title">My List</h5>
        <ul>
            @foreach (var book in Model)
            {
                <li>
                    <a href="@Url.Action("BookDetails", "Book", new { isbn = book.isbnNumber })">@book.Title</a>

                </li>
            }
        </ul>
    </div>
</div>