@Model eLibrary.Models.User


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Personal Details</h5>
        <p>Name: @Model.FirstName</p>
        <p>Email: @Model.Email</p>
    </div>
</div>