.books_gallery_title {
    margin-left: 20px;
}

.sorting-section {
    margin-left: 25px;
}

.sort-button {
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
    font-weight: bold;
}

.sale-price {
    color: red;
    font-weight: bold;
}

.featured-books .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book-card {
    width: 400px;
    height: 685px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 15px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    text-align: center;
}

.book-img {
    width: 100%; 
    height: 350px; 
    object-fit: contain; 
    border-radius: 5px; 
}

.book-card .card-body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-body p {
    margin-bottom: 5px; 
}

@media (max-width: 1200px) {
    .col-md-3 {
        flex: 0 0 25%; 
    }
}

@media (max-width: 992px) {
    .col-md-3 {
        flex: 0 0 33.33%; 
    }
}

@media (max-width: 768px) {
    .col-md-3 {
        flex: 0 0 50%; 
    }
}

@media (max-width: 576px) {
    .col-md-3 {
        flex: 0 0 100%; 
    }
}
