.books_gallery_title {
    margin-left: 20px;
}

.sort-label {
    margin-left: 20px;
}

.book-img {
    max-height: 400px; /* Fixed height */
    width: 100%; /* Optional: Make the image span the card's width */
    object-fit: contain; /* Ensure the entire image is visible */
    /*background-color: #f0f0f0;  Optional: Add a background color to handle empty spaces */
    background-color: transparent; /* Optional: Remove the background color */
    padding: 10px; /* Add padding for better spacing around the image */
}

.form-control-sm{
    margin-left: 20px;
    margin-right: 20px;
}

.genre-select {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.year-input {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.sort-button {
    margin-left: 20px;
}

