.mt-5 {
    margin-top: 0;
    padding-top: 0;
    background-color: #2d2b2b;
}

.card-body {
    background-color: #2d2b2b;
    color : #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
}

.book-details-text {
    flex: 1;
    margin-left: 20px;
}

.book-image-container {
    max-width: 300px;
}

.book-image {       /* Book image */
    margin-left: 20px;
    max-width: 150px;
    height: auto;
    border-radius: 8px;
}

.card-footer {
    background-color: #0d6efd;
    color : #ffffff;
}

.btn-back {
    margin-right: 10px;
    margin-left: 10px;
}

.data {
    margin: 15px;
    font-size: medium;
}

.book-img {
    max-height: 400px; /* Fixed height */
    width: 100%; /* Optional: Make the image span the card's width */
    object-fit: contain; /* Ensure the entire image is visible */
    /*background-color: #f0f0f0;  Optional: Add a background color to handle empty spaces */
    background-color: transparent; /* Optional: Remove the background color */
    padding: 10px; /* Add padding for better spacing around the image */
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
}

.form-label {
    margin-bottom: 5px;
}

.qty_desired-label {
    margin-left: 15px;
}
