.table {
    color: #000000 !important;
    background-color: transparent !important;
}

.table th,
.table td {
    color: #000000 !important;
    border-color: #444444 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.table-bordered {
    border-color: #444444 !important;
}

.remove-from-cart-col {
    width: 40px;
}