.table {
    color: #000000 !important;
    background-color: transparent !important;
}

.table th,
.table td {
    color: #000000 !important;
    border-color: #444444 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.table-bordered {
    border-color: #444444 !important;
}

.remove-from-cart-col {
    width: 40px;
}

.feedback-btn {
    margin: 30px;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.w-auto {
    width: auto !important;
}

.feedback-button {
    display: inline-block;
    width: auto;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
}