body {
        background-color: #2d2b2b;
        color: #ffffff;
    }

    .main-content h1 {
        text-transform: none;
        font-weight: bold;
        color: #007bff;
    }
    
    .main-content p {
        color: #ffffff;
    }
    
    /* The Card Styles */
    .card {
        /*height: 450px; /* Fixed height for all cards */
        /*background-color: #ffffff; /* Dark gray background */
        /*color: #000000; /* White text color */
        /*border: 1px solid #444444; /* Subtle border for design */
        height: auto; /* Remove fixed height and allow content to determine height */
        display: flex; /* Make the card a flex container */
        flex-direction: column; /* Ensure content stacks vertically */
    }
    
    .book-img {
        max-height: 300px; /* Fixed height */
        width: 100%; /* Optional: Make the image span the card's width */
        object-fit: contain; /* Ensure the entire image is visible */
        /*background-color: #f0f0f0;  Optional: Add a background color to handle empty spaces */
        background-color: transparent; /* Optional: Remove the background color */
        padding: 10px; /* Add padding for better spacing around the image */
    }

    .card-title {
        font-size: 1rem; /* Ensure title font is uniform */
        font-weight: bold;
        white-space: wrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflowing text */
        text-overflow: ellipsis; /* Add ellipsis (...) for long titles */
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Spread content evenly */
        height: 100%;
    }

    .card-text {
        font-size: 0.9rem;
    }

    /* Styling for Register and Login Links */
    .register-btn {
        margin-bottom: 8px;
        font-size: 20px;
    }

    .login-link {
        font-size: 18px;
        text-align: center;
    }

    .login-link a {
        text-decoration: none;
        color: #007bff;
        transition: color 0.3s ease, background-color 0.3s ease;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .login-link a:hover {
        text-decoration: underline;
        color: #0056b3;
        background-color: #e0f7fa;
    }
    
    .featured_books_title {
        margin-left: 30px;
    }